[Unit]
Description=Under Attack Watcher Service
After=network.target

[Service]
Type=simple
ExecStart=//usr/local/under_attack/under_attack_watcher.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target